<mat-toolbar class="navbar">    
    <div>
        <h1>Registro de usuarios</h1>    
    </div>
    <div>
        <button mat-button class="example-icon favorite-icon">        
            Mostrar Usuarios
            <mat-icon>group</mat-icon>
        </button>
        <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
            Ver mi perfil
            <mat-icon>share</mat-icon>
        </button>
    </div>
    <!-- TODO: Agregar boton de cerrar sesion -->
</mat-toolbar>