<div class="container">
    <mat-card class="animate__animated animate__bounceInDown">
        <mat-card-title>
            <h1>Registrar usuario</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>
                Ingresa los datos solicitados para registrar un nuevo usuario
            </h2>
        </mat-card-subtitle>
        <mat-card-content>
            <mat-stepper linear #stepper>
                <mat-step [stepControl]="datosUsuarioStep1">
                    <hr>
                    <form [formGroup]="datosUsuarioStep1" validate>
                        <ng-template matStepLabel>Datos personales</ng-template>
                        <mat-form-field>
                            <mat-label>Nombre(s)</mat-label>
                            <input matInput formControlName="nombres" required>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('nombres','required')">{{
                                mensajeErrorCampoRequerido('nombres','required') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput formControlName="apellidoPaterno" required>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('apellidoPaterno','required')">{{
                                mensajeErrorCampoRequerido('apellidoPaterno','required') }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput formControlName="apellidoMaterno" required>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('apellidoMaterno','required')">{{
                                mensajeErrorCampoRequerido('apellidoMaterno','required') }}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="sexo">
                                <mat-option value="2">Femenino</mat-option>
                                <mat-option value="1">Masculino</mat-option>
                                <mat-option value="0">Otro</mat-option>
                            </mat-select>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('sexo','required')">{{
                                mensajeErrorCampoRequerido('sexo','required') }}</mat-error>
                        </mat-form-field>

                        <div class="botones">
                            <button mat-raised-button matStepperNext type="button">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="datosUsuarioStep2">
                    <hr>
                    <form [formGroup]="datosUsuarioStep2" validate>
                        <ng-template matStepLabel>Contacto y Direccion</ng-template>
                        <mat-form-field>
                            <mat-label>Numero</mat-label>
                            <input matInput placeholder="##########" formControlName="telefono" type="tel"
                                maxlength="10" required>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('telefono','required')">{{
                                mensajeErrorCampoRequerido('telefono','required') }}</mat-error>
                            <mat-error *ngIf="mensajeErrorNumero('telefono','pattern')">{{
                                mensajeErrorNumero('telefono','pattern') }}</mat-error>
                        </mat-form-field>


                        <div formArrayName="domicilios">
                            <div *ngFor="let domicilio of obtenerDomicilios() ; let i = index">
                                <mat-form-field class="full-width">
                                    <mat-label>Domicilio {{i+1}}</mat-label>
                                    <div [formGroupName]="i">
                                        <input matInput type="text" formControlName="domicilio"
                                            placeholder="Calle, número, apartamento. Código postal + Localidad + Departamento">
                                    </div>                                    
                                    <button mat-button (click)="eliminarDomicilio(i)">Quitar Domicilio</button>
                                    <mat-error *ngIf="mensajeErrorCampoRequerido('domicilios','required')">{{
                                        mensajeErrorCampoRequerido('domicilios','required') }}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="botones">
                            <button mat-raised-button type="button" color="primary" (click)="agregarDomicilio()">Añadir
                                Domicilio Nuevo</button>
                            <button mat-raised-button matStepperPrevious>Regresar</button>
                            <button mat-raised-button matStepperNext type="button">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="datosUsuarioStep3">
                    <hr>
                    <form [formGroup]="datosUsuarioStep3" validate>
                        <mat-form-field>
                            <ng-template matStepLabel>Datos para usuario</ng-template>
                            <mat-label>Correo electronico</mat-label>
                            <input matInput placeholder="correo@ejempo.com" formControlName="email" required>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('email','required')">{{
                                mensajeErrorCampoRequerido('email','required') }}</mat-error>
                            <mat-error *ngIf="mensajeErrorCorreoFormato('email','email')">{{
                                mensajeErrorCorreoFormato('email','email') }}</mat-error>
                            <mat-error *ngIf="mesajeErrorCorreoDuplicado('email','duplicate')">
                                {{mesajeErrorCorreoDuplicado('email','duplicate')}}
                                <a href="/restablecer-contrasena">¿Olvidaste tu contraseña?</a>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Ingresa tu contraseña</mat-label>
                            <input formControlName="contrasena" matInput
                                [type]="mostrarContrasena ? 'password' : 'text'" required>
                            <a mat-icon-button matSuffix (click)="mostrarContrasena = !mostrarContrasena"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="mostrarContrasena">
                                <mat-icon>{{mostrarContrasena ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                            <mat-error *ngIf="mensajeErrorCampoRequerido('contrasena','required')">{{
                                mensajeErrorCampoRequerido('contrasena','required') }}</mat-error>
                        </mat-form-field>
                        <div class="botones">
                            <button mat-raised-button matStepperPrevious>Regresar</button>
                            <button mat-raised-button (click)="stepper.reset()">Limpiar registros</button>
                            <button mat-raised-button color="accent" type="submit"
                                (click)="unificarDatosFormularios()">Registrarme</button>
                        </div>
                    </form>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </mat-card>
</div>