<p>
    <mat-toolbar>
      <span>Bien venido</span>
    </mat-toolbar>
</p>

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Cerrar sesion -------></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"routerLink="">
        <mat-icon>exit_to_app</mat-icon>
      </button>
</mat-toolbar-row>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Daniel</p>
      <p>Rodriguez</p>
      
      <p *ngIf="showFiller"><button type="submit" routerLink="/usuarios">Usuarios</button></p>
      <p *ngIf="showFiller"><button type="submit"routerLink="/perfil">Perfil</button></p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Haz clic y veamos un poco mas, o menos
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Haz clic para ver y quitar el menu
      </button>
    </div>
  
  </mat-drawer-container>