<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Introducir contraseña anterior</mat-label>
      <input type="password" matInput placeholder="Contraseña anterior" required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
</div>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Introducir nueva contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña nueva">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar nueva contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña nueva">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <div>
    <button type="submit"routerLink="reestablecer">Guardar contraseña nueva</button>
  </div>
  <div>
    <button type="submit"routerLink="">Regresar al inicio</button>
  </div>