<div class="container">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>Nombre: <h1>{{perfil.nombres+ " "}}</h1></mat-card-title>
    <mat-card-subtitle>Apellido <h2>{{perfil.apellidoPaterno+" "+perfil.apellidoMaterno}}</h2></mat-card-subtitle>


  </mat-card-header>
  <mat-card-content>
    <h1>Email: </h1><h3> {{perfil.email}}</h3>
    <h1>Telefono: </h1><h3> {{perfil.telefono}}</h3>
    <h1>Sexo: </h1><h3>{{perfil.gender}}</h3>
    <h1>Contraseña:</h1><h3>{{perfil.contrasena}}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialog()">Actualizar</button>
  </mat-card-actions>
</mat-card>
</div>

