<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon>person</mat-icon>
      </div>
      <mat-card-title>Nombre</mat-card-title>
      <mat-card-subtitle>Apellido</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        <label>Nombre</label>
      </p>
      <p>
        <label>Apellido paterno</label>
      </p>
      <p>
        <label>Apellido materno</label>
      </p>
      <p>
        <label>Correo</label>
      </p>
      <p>
        <label>Sexo</label>
      </p>
      <p>
        <label>Contraseña</label>
      </p>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openDialog()">Actualizarn</button>
    </mat-card-actions>
  </mat-card>
</div>

