<div>
    <form>
        <div>
            <input type="text" name="Usuario" placeholder="Ingrese su Usuario">
        </div>
        <div>
            <input type="password" name="Contraseña" placeholder="Ingrese su Contraseña">
        </div>
        <div>
            <button type="submit"routerLink="menu">Ingresar</button> 
            <button type="submit"routerLink="">Registrar</button>
        </div>
        <div>
            <button type="submit"routerLink="reestablecer">Reestablecer Contraseña</button>
        </div>
    </form>
  </div>